*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.unselect{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select:none;
    -o-user-select:none;
    -ms-user-select:none;
}