.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icon {
  margin-right: 5px;
  width: 16px;
  height: 20px;
  display: flex;
  align-items: center;
}

.header {
  padding: 12px 20px 14px 20px;
  height: 47px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ededed;
}

.content {
  padding: 20px 20px 0 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.repost {
  display: flex;
}

.left {
  margin-right: 12px;
}

.right {
  flex: 1;
  width: 70vw;
}

.text {
  margin-bottom: 10px;
  --font-size: 16px;
  --color: #333;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  img {
    width: 40px;
    height: 40px;
  }
}

.cancel {
  font-family: 'DengXian';
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
}

.footer {
  height: 48px;
  border-top: 1px solid #ededed;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 56px;
  --text-color: #fff;
  font-weight: 200;
  font-size: 12px;
  line-height: 13px;
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.post {
  margin-left: 52px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 15px;
  border: 1px solid #ededed;
  border-radius: 8px;
}

.postAvatar {
  width: 24px;
  height: 24px;
  min-width: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  img {
    width: 24px;
    height: 24px;
  }

  margin-right: 10px;
}

.info {
  display: flex;
  align-items: center;

  :nth-child(n + 1) {
    color: #a9a9a9;
    line-height: 14px;
  }

  .name {
    color: #000;
    margin-right: 4px;
    max-width: 80px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px;
    font-weight: bold;
  }
}

.nickName {
  font-size: 14px;
  font-weight: 700;
  color: #000;
  margin-right: 5px;
  max-width: 80px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.account {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.time {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #a9a9a9;
}

.postContent {
  margin: 7px 0;
}

.delete {
  margin-top: 10px;
  border: 1px solid #ededed;
  border-radius: 5px;
  padding: 10px;
  color: #3291ff;
  text-align: center;
}

:global(.uploadImg .adm-image-uploader-upload-button-wrap) {
  position: fixed !important;
  left: 20px;
  bottom: 15px;
}

:global(.adm-space-item) {
  margin-right: 5px !important;
}
